.logoNav{
    height: 40px;
    width: auto;
}

body{
    background-color: rgb(23, 23, 23);
    color: white;
}

a{
    color: white;
}

.dropdownBg{
background-color: rgb(23, 23, 23) !important;
}


