@font-face {
    font-family: 'NeflixFont-regular';
    src: url('/W4D4/assets/fonts/NetflixSans-Regular.woff2') format('woff2');
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'NeflixFont-bold';
    src: url('/W4D4/assets/fonts/NetflixSans-Bold.woff2') format('woff2');
    font-weight: bold;
  }


  /* ora utilizza il font */
  body {
    font-family: 'NetflixFont-regular', sans-serif;
  }


.logoNav {
    height: 40px;
    width: auto;
}

body {
    background-color: #141414;
    color: white;
}

a {
    color: white;
}

a:hover{
    transform: scale(1.1);
    transition: all 500ms linear;
}

.dropdownBg {
    background-color: #141414 !important;
}

.noRadius{
    border-radius: 0px;
}

.rightButton{
    border: 1px solid #7d7d7d;
    background-color: #141414;
    color: #7d7d7d;
}

.rightButton:focus{
    border: 1px solid white;
}

.moviesContainer img{
    width: 230px !important;
    height: 130px;
    object-fit: cover;
}

section img:hover{
    transform: scale(1.1);
    transition: all 0.1s linear;
}

footer{
    color: #545454;
}

footer a{
    color: #545454;
}

footer button{
    border: 1px solid #545454;
    background-color: #141414;
    color: #545454;
}

footer{
    font-size: smaller;
}

.borderButton{
    background-color:#141414;
    border: 1px solid #7d7d7d;
    border-radius: 5px;
}